/* latin */
@font-face {
  font-family: 'EYInterstate Regular';
  font-style: normal;
  font-weight: normal; 
  src: url(http://vishwapkm-ey.github.io/GanttChart/EYInterstate-Regular.ttf) format('truetype');
}
