/* EYInterstate Regular Font */
@font-face {
  font-family: 'EYInterstate Regular';
  src:
    url('https://vishwapkm-ey.github.io/GanttChart/EYInterstate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
},
/* EYInterstate Light Font */
@font-face {
  font-family: 'EYInterstate Regular';
  src:
    url('https://vishwapkm-ey.github.io/GanttChart/EYInterstate-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
},
/* EYInterstate Bold Font */
@font-face {
  font-family: 'EYInterstate Regular';
  src:
    url('https://vishwapkm-ey.github.io/GanttChart/EYInterstate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
},
/* EYInterstate Light Italic Font */
@font-face {
  font-family: 'EYInterstate Regular';
  src:
    url('https://vishwapkm-ey.github.io/GanttChart/EYInterstate-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
