/* SAP Fiori Icons */
@font-face {
  font-family: 'EYInterstate Regular';
  src:
    url('https://vishwapkm-ey.github.io/GanttChart/EYInterstate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
